<%- include ('../header') -%>
<main style="padding-top: 100px;">
    <div class="container-fluid back-side">
        <div class="row admin-dash-title">
            Admin-dashboard
        </div>
        <div class="row admin-header">
            <div class="col"><a href="/admin-addBrand">Add Brand</a></div>
            <div class="col"><a href="/admin-addProduct">Add Product</a></div>
            <div class="col-6">
                <div class="row">
                    <div class="col"><a href="/admin-home">Home</a></div>
                    <div class="col"><a href="/admin-shop">Shop</a></div>
                    <div class="col"><a href="/admin-brand">Brands</a></div>
                    <div class="col"><a href="/admin-about">About Us</a></div>
                    <div class="col"><a href="/admin-contact">Contact Us</a></div>
                    <div class="col"><a href="/admin-join-our-team">Join Our Team</a></div>
                </div>
            </div>
            <div class="col"><a href="/admin-ourBrands">Our Brands</a></div>
            <div class="col"><a href="/admin-ourProducts">Our Product</a></div>
        </div>
