<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form method="post" enctype="multipart/form-data"  action="admin-contact" class="py-5">
            <div class="row page-titles">Contact us</div>
            <div class="form-group important">
                <label for="exampleInputEmail1">Enter text on general image.</label>
                <input type="text" name="textContactSlider" class="form-control"
                       placeholder="Text on general image.">
            </div>
            <div class="form-group important" id="upload-images-contact">
                <label for="exampleInputEmail1">Upload contact us general image(choose only one image).</label>
                <input type="file" name="imagesContactSlider" class="form-control" id="uploadImagesBySize">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Language</label>
                <select name="language" id="select_language_contact_us">
                    <option name="eng" value="eng" selected>Eng</option>
                    <option name="ru" value="ru">Ru</option>
                    <option name="spain" value="spain">Spain</option>
                    <option name="spain" value="spain">Arm</option>
                </select>
            </div>
            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        document.getElementById('select_language_contact_us').addEventListener('change', function () {
            if (this.value !== 'eng') {
                document.getElementById('upload-images-contact').style.display = 'none';
            } else {
                document.getElementById('upload-images-contact').style.display = 'block';
            }
        });
    });
</script>
<%- include ('adminFooter') -%>
