<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form action="#" class="py-5">
            <div class="row page-titles">Contact us</div>
            <div class="form-group">
                <label for="exampleInputEmail1">Text on general image</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Upload contact us general image.</label>
                <input type="file" class="form-control" id="uploadImagesBySize">
            </div>
            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<%- include ('adminFooter') -%>
