<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form method="post" enctype="multipart/form-data" action="admin-home" class="py-5">
            <div class="row page-titles">Home</div>
            <div class="form-group important">
                <label for="exampleInputEmail1">Enter text on slider.</label>
                <input type="text" name="textOnHomeSlider" class="form-control" id="textOnHomeSlider"
                       placeholder="Text on slider.">
            </div>
            <div class="form-group important" id="upload-images-home" style="display: block">
                <label for="exampleInputEmail1">Upload home slider images(maximum images count must be 10).</label>
                <input type="file" multiple="multiple" name="homeSliderImages" class="form-control"
                       id="homeSliderImages">
            </div>
            <div class="form-group important">
                <label for="exampleInputEmail1">Enter product type title(this is a text under the slider).</label>
                <input type="text" name="homeProductTypeTitle" class="form-control" id="homeProductTypeTitle"
                       placeholder="Enter product type title.">
            </div>
            <div class="form-group important">
                <label for="exampleInputEmail1">Select language type which you want add(* if you change, or enter some
                    information in one language also enter please the data in other languages).</label>
                <select name="language" id="select_language">
                    <option name="eng" value="eng" selected>Eng</option>
                    <option name="ru" value="ru">Ru</option>
                    <option name="spain" value="spain">Spain</option>
                    <option name="spain" value="spain">Arm</option>
                </select>
            </div>
            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        document.getElementById('select_language').addEventListener('change', function () {
            if (this.value !== 'eng') {
                document.getElementById('upload-images-home').style.display = 'none';
            } else {
                document.getElementById('upload-images-home').style.display = 'block';
            }
        });
    });
</script>
<%- include ('adminFooter') -%>
