<%- include ('adminHeader') -%>
<div class="row">
    <div class="col-8 offset-2">
        <form action="#" class="py-5">
            <div class="row page-titles">Join our team </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Text on general image</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Upload join our team general image.</label>
                <input type="file" class="form-control" id="uploadImagesBySize">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Title work with us</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title Title work with us">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Column-1 title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-1 title">
            </div>
            <div class="form-group d-flex flex-column">
                <label>Column-1 text</label>
                <textarea name="" id="" rows="6" class="form-control"
                          placeholder="Column-1 text"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Column-2 title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-2 title">
            </div>
            <div class="form-group d-flex flex-column">
                <label>Column-2 text</label>
                <textarea name="" id="" rows="6" class="form-control"
                          placeholder="Column-2 text"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Column-3 title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-3 title">
            </div>
            <div class="form-group d-flex flex-column">
                <label>Column-3 text</label>
                <textarea name="" id="" rows="6" class="form-control"
                          placeholder="Column-3 text"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">We are looking partners</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
            </div>
            <div class="form-group d-flex flex-column">
                <label for="exampleInputEmail1">We are looking partners</label>
                <textarea name="" id="" rows="6" class="form-control"
                          placeholder="Text"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">We are looking partners image.</label>
                <input type="file" class="form-control" id="uploadImagesBySize">
            </div>
            <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
        </form>
    </div>
</div>
<%- include ('adminFooter') -%>
