<%- include ('adminHeader') -%>
<table class="table table-hover" style="margin-top: 10px">
    <thead>
    <tr>
        <th id="1" role="button" scope="col">Name</th>
        <th id="2" role="button" scope="col">Info</th>
        <th id="2" role="button" scope="col">Info Arm</th>
        <th id="3" role="button" scope="col">Type</th>
        <th id="3" role="button" scope="col">Type Arm</th>
        <th id="4" role="button" scope="col">Address</th>
    </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/all-brands',
            method: 'get',
            success: function (response) {
                let tbody = document.getElementById('tbody')
                if (response.results.length) {
                    response.results.forEach(function (item) {
                        let tr = document.createElement('tr');
                        tr.id = `${item._id}`;

                        tr.innerHTML = `
                    <td>${item.name}</td>
                    <td>${item.info}</td>
                    <td>${item.infoArm}</td>
                    <td>${item.type}</td>
                    <td>${item.typeArm}</td>
                    <td>${item.registrationAddress}</td>
                    <td><a href ='/admin-editBrand?_id=${item._id}' type="button" class="btn btn-info">Edit</a></td>
                    <td><a onclick="deleteBrand(this)" value='${item._id}' type="button" class="btn btn-danger">Delete</a></td>`
                        tbody.append(tr);
                    })
                }
            },
            error: function (data) {
                console.log('Product Get failed :' + data);
            }

        });

    })

    function deleteBrand(button) {
        const _id = button.getAttribute('value');
        $.ajax({
            url: `/brand/${_id}`,
            method: 'delete',
            success: function (response) {
                document.getElementById(_id).remove();
            },
            error: function (data) {
                console.log('Product Delete failed :' + data);
            }

        });
    }


</script>
<%- include ('adminFooter') -%>
