<%- include ('adminHeader') -%>
<table class="table table-hover" style="margin-top: 10px">
    <thead>
    <tr>
        <th id="1"  role="button" scope="col">Name</th>
        <th id="2"  role="button" scope="col">type</th>
        <th id="3"  role="button" scope="col">price</th>
        <th id="4"  role="button" scope="col">count</th>
        <th id="4"  role="button" scope="col">color</th>
        <th id="4"  role="button" scope="col">size</th>
        <th id="4"  role="button" scope="col">Edit</th>
        <th id="4"  role="button" scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {


    $.ajax({
        url: '/products',
        method: 'get',
        success: function (response) {
            let tbody = document.getElementById('tbody')
            if(response.results.data.length){
                response.results.data.forEach(function(item){
                    let tr = document.createElement('tr');
                    tr.id = `${item._id}`;

                    tr.innerHTML = `
                    <td>${item.name}</td>
                    <td>${item.type}</td>
                    <td>${item.price}</td>
                    <td>${item.count}</td>
                    <td>${item.color}</td>
                    <td>${item.size}</td>
                    <td><a href ='/admin-editProduct?_id=${item._id}' type="button" class="btn btn-info">Edit</a></td>
                    <td><a onclick="deleteProduct(this)" value='${item._id}' type="button" class="btn btn-danger">Delete</a></td>`
                    tbody.append(tr);
                })
            }

            // window.location.reload();
        },
        error: function (data) {
            console.log('Product Get failed :' + data);
        }

    });

    })
    function deleteProduct(button){
        const _id =  button.getAttribute('value');
        $.ajax({
            url:`/product/${_id}`,
            method: 'delete',
            success: function (response) {
                    document.getElementById(_id).remove();
            },
            error: function (data) {
                console.log('Product Delete failed :' + data);
            }

        });
    }


</script>
<%- include ('adminFooter') -%>
