<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<table style="max-width: 700px; width: 100%"  border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="center" >
            <table  border="0" align="center" cellpadding="0" cellspacing="0" style="margin-right:20px; ">
                <tbody>
                <tr>
                    <td  align="center" style="font-family: 'Oswald', sans-serif; font-size:22px; letter-spacing: 3px; font-weight: 500; color:#2a3a4b;padding: 40px 0 20px">
                        <div style="text-align: left; font-size:14px; line-height: 20px; letter-spacing: 1px;margin-top: 20px; padding-left: 20px">
                            <div><b>Reset your accout password</b></div>
                            <div><b>Dear <%=name%></b></div>
                            <div><b>Someone requested that the password for your Armat Concept account  be reset</b></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center">

                        <a href=`https://armatconcept.com/resetPassword/<%=token%>`>
                            <button class="btn btn-success">
                                Reset Password
                            </button>
                        </a>

                    </td>
                </tr>
                <tr>
                    <td  align="center" style="font-family: 'Oswald', sans-serif; font-size:22px; letter-spacing: 3px; font-weight: 500; color:#2a3a4b;padding: 40px 0 20px">
                        <div style="text-align: left; font-size:14px; line-height: 20px; letter-spacing: 1px;margin-top: 20px; padding-left: 20px">
                            <div><b>It you didn't request this, you can ignore this email or let us to know.</b></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

