<%- include ('header') -%>
<%- include ('admin/adminHeader')-%>
        <!-- Add brand -->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Add brand</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Brand name.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Brand type.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">hTag</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Brand hash/tag.">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Info</label>
                        <textarea name="" id="" rows="6" class="form-control"
                                  placeholder="Some info about brand."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload brand logo</label>
                        <input type="file" class="form-control" id="uploadLogo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload brand images sm1/sm2/sm3</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
        <!--        Add product-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Add product.</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Choose brand.</label>
                        <select>
                            <option>Armani</option>
                            <option>Zara</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product type.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product name.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Color</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product color.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sale</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product sale.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Count</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product count.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product price.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Size</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product size.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload product images.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
        <!--  Home-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Home</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on slider</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on slider.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload home slider images.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Home product type title(under the slider)</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Product count.">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
<!--        shop page-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Shop</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on slider</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on slider.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload shop general image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
<!--        brands page-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Brands</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on brands general image</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload brands page general image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
<!--        about us-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">About us</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on general image</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload about us general image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Our philosophy</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Our philosophy text.">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
<!--        contact us-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Contact us</div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on general image</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload contact us general image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
<!--        join our team-->
        <div class="row">
            <div class="col-8 offset-2">
                <form action="#" class="py-5">
                    <div class="row page-titles">Join our team </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Text on general image</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Text on general image.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Upload join our team general image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title work with us</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title Title work with us">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Column-1 title</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-1 title">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Column-1 text</label>
                        <textarea name="" id="" rows="6" class="form-control"
                                  placeholder="Column-1 text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Column-2 title</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-2 title">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Column-2 text</label>
                        <textarea name="" id="" rows="6" class="form-control"
                                  placeholder="Column-2 text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Column-3 title</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Column-3 title">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Column-3 text</label>
                        <textarea name="" id="" rows="6" class="form-control"
                                  placeholder="Column-3 text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">We are looking partners</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label for="exampleInputEmail1">We are looking partners</label>
                        <textarea name="" id="" rows="6" class="form-control"
                                  placeholder="Text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">We are looking partners image.</label>
                        <input type="file" class="form-control" id="uploadImagesBySize">
                    </div>
                    <button type="submit" class="btn btn-rose px-4 px-3 d-flex ml-auto">Save</button>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include ('footer')%>
