<%- include ('header') -%>
<main style="padding-top: 100px;">
    <div>
        <h2>You can pay in out website, with two pay type.</h2>
        <form action="/purchase" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="<%= key %>"
                    data-name="Custom t-shirt"
                    data-description="Your custom designed t-shirt"
                    data-amount="7000"
                    data-currency="usd"
            >

            </script>
<!--            <input name="order" type="hidden" id="orderProducts">-->
<!--            <input name="shippingAddress" type="hidden" id="shippingAddress">-->
        </form>


        <button class="btn btn-success" type="submit" onclick="setValue()">Pay with Paypal</button>

    </div>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</main>
<script>
    function setValue() {
        console.log('444')
        const shippingAddress = localStorage.getItem('shippingAddress');
        const order = localStorage.getItem('order');
        console.log(order)
        //shippingAddress
        document.getElementById('orderProducts').setAttribute('value', order);
        document.getElementById('shippingAddress').setAttribute('value', shippingAddress);
        $.ajax({
            type: 'post',
            url: '/pay',
            data: {
                order: order,
                shippingAddress: shippingAddress,

            },
            success: (response) => {
                console.log(response)
                if(response){
                    window.location.replace(response.url);
                }
                else{
                    window.location.replace('http://localhost:3000/shipping')
                }

            },
            error:(e)=>{
            console.log(e)
        }
        })
    }
</script>
<%- include ('footer') -%>
