<%- include ('header') -%>
<main>
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-5"><b>DELIVERY AND RETURN POLICY</b></h2>
        <h5 class="subtitle">
            <b>Armat concept</b> team welcomes you
        </h5>
        <h3>DELIVERY POLICY</h3>
        <p>
            Thank you for visiting us and shopping in our page. Below, please familiarize yourself with the
            <b>www.armatconcept.com</b> page policy.
        </p>
        <p>
            Armat Concept cooperates with delivery companies according to signed agreements and
            contracts. The customer pays the delivery fees, which is calculated according to the ordered
            product weight, quantity, delivery place etc.
        </p>
        <p>
            Your delivery takes places the soonest possible after the order confirmation and payment.
            Exceptional cases include specific goods being out of stock or extra time needed to prepare
            them. These are pictures and personalized goods.
        </p>
        <p>
            Ideally, delivery takes 7-21 working days. However, this might depend on pandemic situational
            changes or special holidays and events in the particular country. Armat Concept has the right to
            deliver goods within 45 working days. In case of failing this, please conact us through e-mail
            <b>info@armatconcept.com</b>
        </p>
        <p>
            There are two delivery methods available for orders։ Standard Delivery and Express Delivery.
            The standard delivery method is selected automatically. If you would like to get your order
            sooner, please contact us through e-mail <b> info@armatconcept.com</b>
        </p>
        <p>
            If for some reason you can&#39;t find your country in the shipping address, please contact us and
            we will do our best to ship the product to you.
        </p>
        <h3 class="mt-4">ATTENTION</h3>
        <p>
            PThe customer should be aware of the regulations and delivery policies of the particular country.
            The delivered item might go through import taxes, which is practised in that country. The
            customer needs to take care of the above-mentioned expenses.
        </p>
        <h3 class="mt-4">ITEMS RETURN POLICY</h3>
        <p>Please familiarize yourself with the item return policy.</p>
        <p>
            If you wish to return the already bought item, you need to contact us right after receiving it
            through <b>info@armatconcept.com</b> email. You need to fill in the special form to explain reasons
            and show proof of the item defects.
        </p>
        <p>
            We accept back the items bought from our page and provide 100% reimbursement. Or else, we
            give you a chance to exchange it with another item if the above-mentioned regulations have not
            been violated.
        </p>
        <ul>
            <li>The bought item is eligible for a return or an exchange within 14 days of the purchase.</li>
            <li>The returned item should not be used, broken, damaged or without a tag. It must be in
                initial package, accompanied with attached accessories and guide-brochures</li>
            <li>If the bought item completely corresponds the order criteria but for some reason the
                customer wants to return it, Armat Concept page does not bear the responsibility to take
                the return expenses.</li>
            <li>Right after the return the item will go through a professional check. We will contact you
                through e-mail to let you know about the returned item acceptance. We will as well inform
                you about the return decision. If it is approved, then, we will inform you about the sending
                details. The 100% reimbursement will be done exactly the way you paid for the item within
                5-10 working days.</li>
            <li>
                Item return without prior notice will not be accepted.
            </li>
        </ul>
        <h3 class="mt-4">ATTENTION</h3>
        <ol>
            <li>Books, games, special or personalized goods, beauty related products, higine items and
                items on sale are not entitled to a return</li>
            <li>The delivery cost will not be reimbered when returning an item</li>
        </ol>
    </div>


<%- include ('footer') -%>
