<%- include ('header') -%>
<main>
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-5"><b>ԱՌԱՔՄԱՆ և ՎԵՐԱԴԱՐՁԻ ՔԱՂԱՔԱԿԱՆՈՒԹՅՈՒՆ</b></h2>
        <h5 class="subtitle">
            <b>Armat concept</b> - ը ողջունում է Ձեզ
        </h5>
        <h3>ԱՌԱՔՄԱՆ ՔԱՂԱՔԱԿԱՆՈՒԹՅՈՒՆ</h3>
        <p>
            Շնորհակալություն մեր կայք այցելելու և գնումներ կատարելու համար։ Ստորև կարող եք ծանոթանալ
            <b>www.armatconcept.com</b> կայքի առաքման քաղաքականության դրույթներին
        </p>
        <p>
            <b> Armat Concept </b>-ը համագործակցում է առաքումներ իրականցնող տարբեր կազմակերպություների հետ՝ կնքված
            պայմանագրերի համաձայն.
        </p>
        <p>
            Առաքման ծախսերը հոգում է օգտատերը, և առաքման սակագինը հաշվարկվում է ՝ ելնելով պատվերի մեջ գտնվող իրերի
            քանակից, քաշից, չափսերից, առաքման վայրից և այլ պայմաններից։
        </p>
        <p>
            Ձեր պատվերի առաքումը իրականացվում է հնարավորինս արագ՝ պատվերը ստանալուց և վճարումը կատարելուց անմիջապես
            հետո. Բացառություն են այն դեպքերի, երբ իրը ժամանակավորապես անհասանելի է կամ անհրաժեշտ է լրացուցիչ ժամանակ
            պատվերը ստեղծելու համար, դրանք են նկարները, անձնավորված բնույթի իրերը։
        </p>
        <p>
            Սովորաբար իրերը առաքվում են 7-21 աշխատանքային օրվա ընթացքում, սակայն առաքման տևողությունը կախված է շատ
            հանգամանքներից՝ պայմանվորված համաճարակային իրավիճակով, տվյալ երկրում տոնական օրերով կամ այլ պատճառներով
            առաքումները կարող են հետաձգվել: Armat Concept-ը իրավունք ունի ապրանքներ առաքել մինչև 45 աշխատանքային օրվա
            ընթացքում: 45 աշխատանքային օրվա ընթացքում պատվերը օգտատիրոջը չհասնելու դեպքում՝ կապ հաստատել մեզ հետ <b>
                info@armatconcept.com </b> էլ. հասցեի միջոցով: Ծանրոցը համարվում է կորած մինչև 2 ամիս չգտնվելու դեպքում։
            Եթե մենք չենք կարողանում գտնել ծանորցը մեր ուսումնասիրություների արդյունքում, ապա դուք կփոխհատուցվեք ձեր
            պատվերի ամբողջ գումարով կամ կունենաք հնարավորություն փոխանակել մեկ այլ ապրանքով վերջինիս առակայության
            դեպքում։
        </p>
        <p>
            <b>Armat Concept</b>>-ը իրականացնում է առաքման երկու տարբերակ՝ սովորական առաքում և արագ առաքում։  Սովորական
            առաքման արժեքը հասանելի է դառնում հաճախորդին իրը գնելու պահին և հաշվարկվում է՝ ելնելով ապրանքի ընդհանուր
            քաշից, քանակից և առաքվող վայրից։
        </p>
        <p>
            Եթե ցանկանում եք, որ իրը առաքվի ավելի արագ կամ ինչ-ինչ պատճառներով չեք կարողանում գտնել ձեր երկիրը մեր
            ցանկում, ապա կապվեք մեզ հետ <b> info@armatconcept.com</b>> հասցեով և մենք մեծ սիով կկազմակերպենք այդ ամենը։
        </p>
        <h3 class="mt-4">ՈՒՇԱԴՐՈՒԹՅՈՒՆ</h3>
        <p>
            Օգտատերը պետք է տեղեկացված լինի տվյալ երկիր առաքվող իրերի մուտքի կանոնակարգին և օրենքներին: Առաքվող իրը
            կարող է ենթարկվել ներմուծման մաքսային հարկերի, որը կիրառվում է տվալ երկրի կողմից: Օգտատերն է իրականցնելու
            մաքսազերծման անանհրաժեշտ վճարները։
        </p>
        <h3 class="mt-4">ՎԵՐԱԴԱՐՁԻ ՔԱՂԱԿԱՆՈՒԹՅՈՒՆ</h3>
        <p>Եթե ցանկանում եք վերադարձնել գնված ապրանքը, ապա պետք է մեզ հետ կապ հաստատել ապրանքը ստանալուց անմիջապես հետո,
            լրացնել նախատեսված թերթիկը ՝ ներկայացնելով համապատասխան հիմքեր և ապացույցներ ապրանքի թերր լինելու մասին և
            տեղեկացնել   <b>info@armatconcept.com</b> էլ. հասցեի միջոցով:</p>
        <p>
            Մենք հետ ենք ընդունում մեր կայքից գնված ապրանքները և վերադարձնում ենք գնված ապրանքի արժեքի 100%ը կամ
            հնարավորություն ենք տալիս փոխել մեկ այլ ապրանքով, եթե չեն խախտվել նշված կանոններից ոչ մեկը.
        </p>
        <ul>
            <li>Գնված ապրանքը ենթակա է վերադարձի կամ փոխարինման այն ստանալու պահից՝ 14 օրվա ընթացքում.</li>
            <li>Վերադարձվող ապրանքը չպետք է լինի օգտագործված, կոտրված, չպետք է լինի թերի և պիտակից զուրկ, պետք է լինի
                սկզբնական փաթեթավորմամբ և կցված պարագաներով, ուղեցույց գրքույկներով
            </li>
            <li>Եթե պատվիրատուի գնած ապրանքը լիովին համապատասխանում է նրա պատվերի տվյալներին, բայց ինչ-ինչ պատճառներով
                ցանկանում է վերադարձնել այն, ապա Armat Concept կայքը չի կրում հետ վերադարձի ծախսերը
            </li>
            <li>Վերադարձված ապրանքը ստանալուց անմիջապես հետո այն կստուգվի վաճառքի մասնագետների կողմից: էլ. հասցեի
                միջոցով Ձեզ կտեղեկացնենք վերադարձված ապրանքի ստանալու մասին տեղեկատվություն: Ձեզ կտեղեկացնենք նաև
                վերադարձի հաստատման կամ մերժման մասին: Եթե հաստատվեց, ապա Ձեզ կտեղեկացնենք թե ինչպես և որտեղ ուղարկեք
                ապրանքը: Ձեր վճարած գումարի 100%-ը  կփոխանցվի նույն մեթոդով,որով կատարել եք վճարումը: Վերադարձը
                կատարվում է 5-10 աշխատանքային օրվա ընթացքում:
            </li>
            <li>
                Առանց մեզ տեղեկացնելու ապրանքը վերադարձնելու դեպքում այն չի ընդունվի
            </li>
        </ul>
        <h3 class="mt-4">ՈՒՇԱԴՐՈՒԹՅՈՒՆ</h3>
        <ol>
            <li>Գրքերը, խաղերը, անձնավորված և հատուկ իրերը, գեղեցկության հետ առնչվող իրերը, խնամքի պարագաները և զեղչված
                իրերը ենթակա չեն վերադարձի
            </li>
            <li>Ապրանքը վերադարձնելիս առաքման համար գանձվող գումարը ետ չի վերադարձվում:</li>
        </ol>
    </div>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</main>
<%- include ('footer') -%>
