<%- include ('header') -%>
<main class="text-content-page">
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-3"><b>ԳԱՂՏՆԻՈՒԹՅԱՆ ՔԱՂԱՔԱԿԱՆՈՒԹՅՈՒՆ</b></h2>
        <h5 class="subtitle">
            <b>Armat Concept</b> - ը ողջունում է Ձեզ
        </h5>
        <p>
            Գաղտնիության քաղաքականությունը Ձեզ հնարավորություն է տալիս տեղեկացված լինելու, թե ինչպես է օգտագործվում Ձեր
            տրամդրած տեղեկատվությունը մեր կայքում :
        </p>
        <p>
            Մեր գլխավոր նպատակներից է օգտատիրոջ անձնական տվյալների գաղտնիության ապահովումը: Գաղտնիության
            քաղաքականությունը տեղեկատվական փաստաթուղթ է՝ Ձեր անվտանգ, արագ և ապահով գործընթացը մեր կայքում ապահովելու
            համար:
        </p>
        <p>
            Ինչպես բոլոր հոստինգ ընկերությունները, այնպես էլ մեր կայքը, աշխատում է ստանդարտ ընթացակարգով, որն էլ
            ապահովում է ծառայությունների վերլուծություն, կայքի կառավարում, վիճակագրություն :
        </p>
        <p>
            Կայք այցելելիս, գրանցվելիս և գնումներ կատարելիս ավտոմատ կերպով հավաքվում են ինչպես անձնական, այնպես էլ ոչ
            անձնական տեղեկատվություն օգտատիրոջ մասին: Անձնական տեղեկություններն են՝ անուն, ազգանուն, էլ. հասցե, փոստային
            ինդեքս, առաքման հասցե, հեռախոսահամար, վճարման տվյալներ (ներառյալ կրեդիտ քարտի համարները) : Ձեր կողմից
            ներկայացվող տեղեկատվությունը պետք է լինի ճիշտ և հետագայում դրանց փոփոխություների դեպքում պետք է մեզ
            տեղեկացնեք այդ մասին՝ վճարման և առաքման անհարմարություներից խուսափելու համար:
        </p>
        <p>
            Ոչ անձնական տեղեկատվություն՝ դիտված էջերն են, զննարկիչի տեսակը, IP հասցեն, ժամային գոտին և ամսաթիվը, հղման
            էջերը, որոշ cookies-ը և այլն: Այդ տեղեկատվության հիման վրա վրավերահսկվում է այցելուների քանակը և կազմվում է
            վիճակագրություն էջի այցելությունների, ապրանքների որոնման վերաբերյալ, և կայքի գործունեությունը
            ավելիարդյունավետ դարձնելու համար։
        </p>
        <p>
            Կայքում օգտագործվում են Cookies, վերջիներս անվտանգ են համակարգիչների համար և ոչ մի անձնական տեղեկատվություն
            չեն հավաքում։
        </p>
        <p>
            Հավաքագրված տեղեկությունները չեն տրամդրվում ոչ մի այլ կազմակերպության, բացառությամբ հետևյալ հանգամանքների
        </p>
        <ul>
            <li>Տվյալները կարող են փոխանցվել համապատասխան կազմակերպության՝ օգտատիրոջ անվտանգությունը ապահովելու,
                խարդախություները կանխելու նպատակով՝ իրավական պահանջներին համապատասխան
            </li>
            <li>Որոշ տվյալներ տրամադրվում են առաքումներ և վճարումներ իրականցվող ընկերություներին՝ իրենց ծառայությունները
                իրականացնելու համար :
            </li>
        </ul>
        <p>
            Մենք կարող ենք ցանկացած պահի փոփոխել գաղտնիության քաղաքականության դրույթները: Խնդրում ենք համոզված եղեք, որ
            ամեն անգամ գնումներ կատարելիս համաձայն եք կայքի կողմից ներկայացրած ձեր իրավունքների հետ: Եթե լինեն էական
            փոփոխություներ, մենք այդ մասին անպայման ձեզ կտեղեկացնենք:
        </p>
        <p>
            Դուք իրավունք ունեք մուտք գործել ձեր անձնական տեղեկությունների բաժինը և դիմել մեզ՝ ձեր անձնական տվյալները
            շտկելու, թարմացնելու կամ ջնջելու համար:
        </p>
        <p>
            Կայքը նախատեսված չէ 13 տարեկանից ցածր երեխաների համար: Խրախուսվում է, որ ծնողները առավել ուշադիր լինեն և
            վերահսկեն իրենց երեխաների առցանց գործունեությունը: Եթե կասկածում եք, որ ձեր երեխան տեղեկատվություն է
            տրամադրել մեր կայքին, ոչ ձեր իմացությամբ, ապա պետք է անմիջապես կապվել մեզ հետ, որպեսզի մենք կարողանանք
            անհապաղ հեռացնել տրամադրված տեղեկատվությունը :
        </p>
        <h3 class="mt-4">Երրորդ կողմերի գաղտնիության քաղաքականություն</h3>
        <p>
            Armat Concept -ը չի կրում պատասխանատվություն և չունի իրավունք՝ վերահսկելու այն տեխնոլոգիաները , (օրինակ ՝
            cookies, JavaScript, Web Beacons- ը), որոնք օգտագործվում են երրորդ կողմի՝ գովազդատուների կողմից,
            համապատասխան գովազդներում և հղումներում: Այս տեխնոլոգիաների միջոցով գովազդատուն ավտոմատ կերպով ստանում է ձեր
            IP հասցեն: Այս ամենը օգտագործվում են չափելու իրենց գովազդային արշավների արդյունավետությունը և
            անհատականացնելու գովազդային բովանդակությունը: Armat Concept -ի գաղտնիության քաղաքականությունը չի տարածվում
            գովազդատուների կամ այլ կայքերի վրա:
        </p>
        <p>
            Մենք իրականացնում ենք բոլոր հնարավոր քայլերը օգտատիրոջ անվտանգությունը մեր կայքում ապահովելու համար, սակայն
            ինտերնետ հարթակում հնարավոր չէ ապահովել կատարյալ անվտանգություն, այդ իսկ պարճառով շատ կարևոր է, որ օգտատերը
            լինի տեղեկացաված և լինի պատասխանատու իր կատարած քայլերի համար:
        </p>
        <p>Եթե ​​ունեք լրացուցիչ հարցեր գաղտնիության քաղաքականության վերաբերյալ, մի հապաղեք կապվել մեզ հետ:</p>
        <p>
            Եթե ​​ունեք լրացուցիչ հարցեր գաղտնիության քաղաքականության վերաբերյալ, մի հապաղեք կապվել մեզ հետ:
        </p>

    </div>
</main>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<%- include ('footer') -%>

