<%- include ('header') -%>
<main>
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-5"><b>PRIVACY POLICY</b></h2>
        <h5 class="subtitle">
            <b>Armat Concept</b> team welcomes you
        </h5>
        <p>
            The <b>Privacy Policy</b> gives you an opportunity to be informed about the ways your information is used in our
            website.
        </p>
        <p>
            One of our major aims is to provide the secrecy of our customers’ personal information. Privacy policy is an
            informative document, which aims to provide the security of your deals in our website.
        </p>
        <p>
            Like other hosting companies, our website as well, follows the standard regulations that provide service
            briefings, website rules and regulations.
        </p>
        <p>
            While registering and shopping, both customer’s personal and non-personal information is automatically
            collected. Personal information includes name, surname, e-mail address, post index, delivery address,
            telephone number, payment details (credit card number included). The given information must be accurate and
            any further change must be communicated with us to avoid later payment and delivery problems.
        </p>
        <p>
            Non-professional information includes the following: visited pages, search engines, IP address, time zone and
            dates, linked pages, some cookies, etc. Based on this information the number of visitors is controlled and
            statistical data is generated about the visits and item search to increase the productivity of the website.
        </p>
        <p>
            The website uses cookies that are harmless for PCs and do not collect any personal information.
        </p>
        <p>
            The collected data is kept in secret at all times and in any circumstances is not shared with any other
            organization except for the following:
        </p>
        <ul>
            <li>The data is shared with a special institution to provide security of the customer and avoid breaches
                according to the law</li>
            <li>Some data is shared with the payment and delivery companies to successfully realize their services</li>
        </ul>
        <p>
            We have the right to make changes to the <b> PRIVACY POLICY</b> any time. While we will inform you about all
            serious changes, please make sure to read and agree with your rights that the website presents you with.
        </p>
        <p>
            You have the right to access your personal page and request to change your personal information, refresh or
            delete it.
        </p>
        <p>
            The website is not for children under 13. We urge the parents to supervise their children’s online time in this
            website. In case you have suspicions about your child sharing your personal information online, please get in
            touch with us to request to delete it.
        </p>
        <h3 class="mt-4">PRIVACY POLICY of THIRD PARTIES</h3>
        <p>
            Payments are made only ONLINE. Online payments can be made by credit card <b>(Visa, Master
                Card)</b> and <b>PayPal</b> system. <b>Armat Concept</b> is not responsible for any errors or omissions you
            make. We hold the right to cancel any orders arising from this.
        </p>
        <h3 class="mt-4">DELIVERY</h3>
        <p>
            <b>Armat Concept</b> does not carry the responsibility of supervising technologies (such as cookies, JavaScript,
            Web Beacons) that are used by third parties in advertisements and linked pages. Through these technologies,
            the advertiser automatically receives your IP address. This is used to measure the effectiveness of their
            advertisements. Armat Concept’s Privacy policy does not refer to advertisement or other websites.</p>
        <p>We take all measures to provide customer information security. However, in internet platform it is not possible
            to provide 100% security. Therefore, it is important that customers are informed and take responsibility for their
            actions.</p>
        <p>
            Please let us know if you have any further questions about the <b>PRIVACY POLICY.</b>
        </p>
        <p>
            Shopping with us you agree with our <b>PRIVACY POLICY</b> and regulations.
        </p>
    </div>

<%- include ('footer') -%>
