<%- include ('header') -%>
<main style="padding-top: 100px;">
    <div id="resetPassword" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header rose-bg">
            <h5 class="modal-title">Reset Password?</h5>
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
        </div>
        <div class="modal-body">
            <%- include ('partials/messages') %>
            <form action="/resetPassword" method="post"  class="offset-1 col-10">
                <h3 class="h3 mr-auto">Reset Your Password</h3>
                <div class="form-group">
                    <label for="newInputPassword1" class="label">Password<sup>*</sup></label>
                    <input name="password" type="password" class="form-control" id="newInputPassword1" placeholder="**********">
                </div>
                <div class="form-group">
                    <label for="newInputPassword2" class="label">Retype Password<sup>*</sup></label>
                    <input name="confirmPassword" type="password" class="form-control" id="newInputPassword2" placeholder="**********">
                </div>
                <input type='hidden' name="userId" value="<%=userId%>">
                <button type="submit" class="btn btn-green-gradient">Save</button>
                <!--                       <div class="d-flex justify-content-center mt-4 fs-14">Don't have an account?<a href="createAccount.html" class="ml-2">Sign Up</a></div>-->
            </form>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-center mt-4 fs-14 w-100">
                Don't have an account?
                <a type="button"   data-toggle="modal" data-target="#RegistrationModal" class="ml-2 open-reg">Sign Up</a>
            </div>
        </div>
    </div>
</div>
    </main>
<%- include ('footer') -%>
