<%- include ('header') -%>

<main style="padding-top: 100px" class="selected-product-section">
    <div class="container container-1730 my-5">
        <h2 class="my-4"><b>Selected Products</b></h2>
        <div class="shop-check d-flex ml-3">
            <div class="form-group mr-2">
                <input onclick="selectAll(this)" type="checkbox" id="select-all">
                <label for="select-all" class="">Select All</label>
            </div>
        </div>
        <div class="row">
            <div id="shoppingCardDiv" class="col-12 col-md-8 col-lg-9">


            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="total-section pt-5">
                    <div class="mb-3 d-flex justify-content-between">
                        <h2 class="title"><b>TOTAL</b></h2>
                        <div class="product-price">
                            <h2 id="total" style="color: #065a1f"><b>0 </b></h2>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div>Products <span id="countProduct">0</span> Count</div>
                        <div id="productStartPrice">0</div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div>Sale</div>
                        <div id="afterSale">0</div>
                    </div>
                    <div class="my-4">
                        <a onclick="sendData()" id="shippingPage" class="btn btn-green-gradient mb-3"
                           style="font-size: 20px; color: #fff; text-transform: capitalize">Continue shipping</a>
                        <div class="shop-check d-flex justify-content-center">
                            <div class="form-group mr-2">
                                <input type="checkbox" id="agreeTerms">
                                <label for="agreeTerms" class="">I agree with <a href="#">Terms &
                                        conditions </a></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<%- include ('footer') -%>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>
<script>
    const shoppingCard = JSON.parse(localStorage.getItem('shoppingCard'));
    let currentDiv = document.getElementById('shoppingCardDiv');
    let array = []
    shoppingCard.forEach((item) => {
        array.push(item.productId)
    })
    $.ajax({
        type: 'post',
        url: '/product-by-id',
        data: {shoppingCard: array},
        success: (response) => {
            if (response.results.length) {
                response.results.forEach(function (item) {
                    let newDiv = document.createElement('div');
                    currentDiv.append(newDiv);
                    newDiv.setAttribute('class', 'selected-product-cart');
                    newDiv.id = item._id;
                    newDiv.innerHTML = `
                    <div  class="shop-check d-flex">
                        <div class="form-group mr-2">
                            <input onclick="checkFluency(this)" _id='${item._id}' type="checkbox" id="${item.name}" value="${(Number(item.price) - (Number(item.price) * Number(item.sale)) / 100) * Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count)}">
                            <label for="${item.name}" class=""></label>
                        </div>
                        <div class="img-area mr-3">
                            <img id='productImage${item._id}' src="${item.images[0]}" alt="" class="w-100">
                        </div>
                        <div>
                            <div id='productName${item._id}' productWeight='${item.productWeight}' registrationAddress='${item.brandId.registrationAddress}' class="product-name">${item.name}</div>
                            <div class="product-color my-2">${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].color}</div>
                            <div id='div1' class="product-size">${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].size || ''}</div>
                        </div>
                    </div>

                    <div class="product-count">
                        <div class="qtySelector text-center">
                            <i onclick="countPriceForBasket(this)" id="faMinu${item._id}" class="fa fa-minus decreaseQty" ></i>
                            <input type="text" class="qtyValue" id="qtyInput${item._id}" value="${shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count}" />
                            <i onclick="countPriceForBasket(this)"  id="faPlus${item._id}" class="fa fa-plus increaseQty"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div  id="productPriceBasket${item._id}" value=${item.price}  style="text-decoration: line-through" class="product-price">${Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count) * Number(item.price)}€</div>
                        <div  id="saleProductPrice${item._id}" value=${item.sale} class="product-price" >${(Number(item.price) - (Number(item.price) * Number(item.sale)) / 100) * Number(shoppingCard[shoppingCard.findIndex(x => x.productId == `${item._id}`)].count)}€</div>

                    </div>
                     <div class="d-flex justify-content-end">
                        <button value="${item._id}" class="btn btn-danger" onclick="deleteProduct(this)" type="submit">Delete</button>
                    </div>
               `
                })
            }
        },
        error: (e) => {
            console.log(e)
        }
    })

    function checkFluency() {
        let productStartPrice = document.getElementById('productStartPrice');
        let countProduct = document.getElementById('countProduct');
        let afterSale = document.getElementById('afterSale');
        if ($('input[type=checkbox]').is(':checked')) {
            let sum = 0;
            let productCount = 0;
            let productPrice = 0;
            let productSalePrice = 0;
            let countOfBasketCheckedProducts = 0;
            $.each($('input:checked'), function (index, input) {
                if (input.id !== 'select-all' && input.id !== "agreeTerms") {
                    countOfBasketCheckedProducts++;
                    const _id = input.getAttribute('_id')
                    let value = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                    value = value.substring(0, value.length - 1);
                    sum += Number(value);
                    productCount += Number(document.getElementById(`qtyInput${_id}`).getAttribute('value'))
                    let template = document.getElementById(`productPriceBasket${_id}`).innerHTML;
                    let afterSale = document.getElementById(`saleProductPrice${_id}`).innerHTML;

                    productPrice += Number(template.substring(0, template.length - 1))
                    productSalePrice += Number(afterSale.substring(0, afterSale.length - 1));
                }
                if (input.id === "agreeTerms") {
                    document.getElementById("agreeTerms").checked = false;
                }
            });
            if (countOfBasketCheckedProducts !== JSON.parse(localStorage.getItem('shoppingCard')).length) {
                document.getElementById('select-all').checked = false;
            } else {
                document.getElementById('select-all').checked = true;
            }
            if (sum) {
                countProduct.innerHTML = `${productCount}`;
                productStartPrice.innerHTML = `${productPrice}`
                afterSale.innerHTML = `${productPrice - productSalePrice}`;
                document.getElementById('total').innerHTML = sum;
            } else {
                countProduct.innerHTML = '0';
                productStartPrice.innerHTML = '0';
                afterSale.innerHTML = '0';
                document.getElementById('total').innerHTML = '0';
            }
        } else {
            countProduct.innerHTML = '0';
            productStartPrice.innerHTML = '0';
            afterSale.innerHTML = '0';
            document.getElementById('total').innerHTML = '0';
        }

    }

    function deleteProduct(button) {
        document.getElementById(button.value).remove();
        let local = JSON.parse(localStorage.getItem('shoppingCard'));
        local = local.filter(item => item.productId != button.value);
        localStorage.setItem('shoppingCard', JSON.stringify(local));
        document.getElementById('shoppingCardNumber').innerHTML = local.length;
        checkFluency();
    }

    function sendData() {
        const agreeTerms = document.getElementById('agreeTerms').checked;
        const count = Number(document.getElementById('countProduct').innerHTML);
        if (!agreeTerms || !count) {
            document.getElementById('shippingPage').removeAttribute('href');
            if (!count) {
                alert('Please Select Product!');
            } else if (!agreeTerms) {
                alert('Please read Term and Conditions');
            }
        } else if (!localStorage.getItem('user')) {
            alert('Please login for continue to shipping.');
        } else {

            var values = [];
            if ($('input[type=checkbox]').is(':checked')) {
                $.each($('input:checked'), function (index, input) {
                    if (input.getAttribute('id') !== 'agreeTerms' && input.getAttribute('id') !== 'select-all') {
                        const id = input.getAttribute('_id');
                        let price =  document.getElementById(`saleProductPrice${id}`).innerHTML;
                        let count = document.getElementById(`qtyInput${id}`).getAttribute('value');
                        price = (Number(price.substring(0,price.length-1))/Number(count)).toString();
                        let obj = {
                            productId: id,
                            onePrice:price,
                            count: count,
                            price: document.getElementById(`productPriceBasket${id}`).innerHTML,
                            priceSale: document.getElementById(`saleProductPrice${id}`).innerHTML,
                            images: document.getElementById(`productImage${id}`).getAttribute('src'),
                            name: document.getElementById(`productName${id}`).innerHTML,
                            registrationAddress: document.getElementById(`productName${id}`).getAttribute('registrationAddress'),
                            productWeight: document.getElementById(`productName${id}`).getAttribute('productWeight'),
                        }
                        values.push(obj);
                    }
                });
                localStorage.setItem('order', JSON.stringify(values));
                document.getElementById('shippingPage').setAttribute('href', '/shipping');
            }
        }
    }

    window.onload = function () {
        localStorage.removeItem('order');
    }

    function countPriceForBasket(element) {
        //pay for order
        let productCount = 0;
        let productPrice = 0;
        let productSalePrice = 0;
        const productStartPrice = document.getElementById('productStartPrice');
        const countProduct = document.getElementById('countProduct');
        const afterSale = document.getElementById('afterSale');
        //end
        const id = element.id.substring(6, element.id.length);
        let basketProductCount = Number(document.getElementById(`qtyInput${id}`).getAttribute('value'));
        if (element.id.substring(0, 6) === 'faMinu' && Number(basketProductCount) >= 2) {
            basketProductCount--;
        } else if (element.id.substring(0, 6) === 'faPlus') {
            basketProductCount++;
        }
        document.getElementById(`qtyInput${id}`).setAttribute('value', `${basketProductCount}`);
        const price = Number(basketProductCount) * Number(document.getElementById(`productPriceBasket${id}`).getAttribute('value'));
        const saleCount = price - (price * Number(document.getElementById(`saleProductPrice${id}`).getAttribute('value')) / 100);
        document.getElementById(`saleProductPrice${id}`).innerHTML = `${saleCount}€`;
        document.getElementById(`productPriceBasket${id}`).innerHTML = `${price}€`;
        let shoppingCard = JSON.parse(localStorage.getItem('shoppingCard'));
        shoppingCard.forEach((item) => {
            if (id === item.productId) {
                item.count = basketProductCount;
            }
        })
        localStorage.setItem('shoppingCard', JSON.stringify(shoppingCard));
        let sum = 0;
        $.each($('input:checked'), function (index, input) {
            if (input.id != 'select-all' && input.id != "agreeTerms") {
                const _id = input.getAttribute('_id')
                let value = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                value = value.substring(0, value.length - 1);
                sum += Number(value);
                productCount += Number(document.getElementById(`qtyInput${_id}`).getAttribute('value'))
                let template = document.getElementById(`productPriceBasket${_id}`).innerHTML;
                let afterSale = document.getElementById(`saleProductPrice${_id}`).innerHTML;
                productPrice += Number(template.substring(0, template.length - 1))
                productSalePrice += Number(afterSale.substring(0, afterSale.length - 1));
            }
        });
        if (sum) {
            countProduct.innerHTML = `${productCount}`;
            productStartPrice.innerHTML = `${productPrice}`
            afterSale.innerHTML = `${productPrice - productSalePrice}`;
            document.getElementById('total').innerHTML = sum;
        } else {
            countProduct.innerHTML = `0`;
            productStartPrice.innerHTML = `0`
            afterSale.innerHTML = `0`;
            document.getElementById('total').innerHTML = '0';
        }
    }

    function selectAll(element) {
        if (element.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
            checkFluency();
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
            checkFluency();
        }
    }

    $('#agreeTerms').on('click', (element) => {
        if (!element.checked) {
            element.checked = true;
        } else {
            element.checked = false;
        }
    });
</script>

</body>
</html>