<%- include ('header') -%>
<main>
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-5"><b>ԸՆԴՀԱՆՈՒՐ  ՊԱՅՄԱՆՆԵՐՆԵ  ՈՒ  ԴՐՈՒՅԹՆԵՐԸ</b></h2>
        <h5 class="subtitle">
            <b>Armat concept </b> -ը ողջունում  է Ձեզ
        </h5>
        <h3 class="mt-4">ԸՆԴՀԱՆՈՒՐ  ՊԱՅՄԱՆՆԵՐՆԵ </h3>
        <p>
            Ստորև կարող եք տեղեկանալ <b>www.armatconcept.com</b> կայքի ընդհանուր դրույթների և պայմանների հետ: Խնդրում ենք ուշադիր կարդալ կայքի կողմից ներկայացվող բոլոր պայմանները և դրույթները: Օգտվելով կայքից՝  դուք արդեն համաձայնում եք այդ կանոնների, գաղտնիության քաղաքականության, առաքման և վերադարձի դրույթների հետ: Ուստի պարտավորվում եք պահպանել ու հետևել դրանց:
        </p>
        <p>
            Կայքը ունի իրավունք թարմացնելու, փոխելու ներկայացված պայմանները, որը  կտեղադրվի կայքի համապատասխան բաժնում: Ձեր պարտականություններն են մինչ գնումներ կատարելը պարբերաբար ստուգել էջի  փոփոխությունները։
        </p>
        <h3 class="mt-4">ՎՃԱՐՄԱՆ  ԿԱՐԳԸ</h3>
        <p>
            Վճարումներն իրականանում են մեկ եղանակով՝ առցանց: Առցանց վճարումները կատարվում են <b> Visa և Master Card, PayPal</b> համակարգերի միջոցով: <b>Armat Concept </b>-ը չի կրում պատասխանատվություն Ձեր  կողմից  իրականացված  տպագրական սխալների և բացթողումների համար, մենք ունենք իրավունք չեղյալ համարելու այդ ամենից բխող ցանկացած պատվեր։
        <h3 class="mt-4">ԱՌԱՔՄԱՆ   ԿԱՐԳԸ</h3>
        <p>  Կայքում նշված ապրանքի  գինը չի ներառում առաքման ծախսերը: Առաքման սակագինը  հաշվարկվում է՝ ելնելով պատվերի մեջ գտնվող իրերի քանակից, քաշից, չափսերից, առաքման վայրից և  այլ պայմաններից: Ավելի մարամասն կարող եք տեղեկանալ  ԱՌԱՔՄԱՆ և ՎԵՐԱԴԱՐՁԻ  ՔԱՂԱՔԱԿԱՆՈՒԹՅԱՆ   բաժնում։</p>
        <p>
            <b>Armat Concept</b> -ը համագործակցում է առաքումներ իրականցնող տարբեր կազմակերպություների հետ՝  կնքված  պայմանագրերի համաձայն։
        </p>
        <p>
            Սովորաբար իրերը առաքվում են 7-21 աշխատանքային օրվա ընթացքում, սակայն առաքման տևողությունը կախված է շատ հանգամանքներից՝ պայմանավորված համաճարակային իրավիճակով, տվյալ երկրում տոնական օրերով կամ այլ պատճառներով առաքումները կարող են հետաձգվել: Armat Concept-ը իրավունք ունի ապրանքներ առաքել մինչև 45 աշխատանքային օրվա ընթացքում: 45 աշխատանքային օրվա ընթացքում պատվերը չհասնելու դեպքում՝ կապ հաստատել մեզ հետ  <b>info@armatconcept.com</b>  էլ. հասցեի միջոցով:  Ծանրոցը համարվում է կորած մինչև 2 ամիս  չգտնվելու դեպքում: Եթե մենք չենք կարողանում  գտնել ծանրոցը, ապա մենք կփոխհատուցենք ձեր պատվերի ամբողջ գումարը կամ դուք կունենաք հնարավորություն փոխանակել  մեկ այլ ապրանքով՝ վերջինիս առակայության դեպքում։
        </p>
        <p>
            <b>Armat  Concept </b>-ը իրականացնում է առաքման երկու տարբերակ՝ սովորական առաքում և արագ առաքում։ Սովորական առաքման արժեքը հասանելի է դառնում հաճախորդին  կայքում  իրը գնելու պահին և հաշվարկվում է՝ ելնելով ապրանքի ընդհանուր  քաշից, քանակից և առաքվող վայրից։ Եթե ցանկանում եք, որ  իրը առաքվի  ավելի արագ կամ ինչ-ինչ պատճառներով չեք կարողանում գտնել ձեր երկիրը մեր ցանկում, ապա կապվեք մեզ  հետ <b>info@armatconcept.com </b> հասցեով և մենք մեծ սիով  կկազմակերպենք այդ ամենը։ Առաքման սակագները  սահմանվում են այդ ծառայություները իրականցվող  կազմակերպություների  կողմից։
            <br>

        </p>
        <b> ՈՒՇԱԴՐՈՒԹՅՈՒՆ</b>
        <p>
            Խնդրում ենք նկատի ունենալ, որ միջազգային որոշ պատվերներ ենթակա են ներմուծման հարկերի եւ ձեր երկրի մաքսային վարչության կողմից գանձվող մաքսային տուրքերի: Գնորդը պատասխանատվություն է կրում ներմուծման բոլոր վճարների համար՝ տվյալ երկրի  օրենքներին եւ կանոններին համապատասխան:
            <b>Armat Concept</b>– ը չի կարող տրամադրել որևէ տեղեկատվություն տուրքերի եւ հարկերի մասին: Յուրաքանչյուր երկիր ունի իր մաքսային քաղաքականությունը  և հարցերի դեպքում խնդրում ենք դիմել ձեր տեղական մաքսային գրասենյակ`լրացուցիչ տեղեկությունների համար:
        </p>

        <h3 class="mt-4">ՎՃԱՐՄԱՆ  ՊԱՅՄԱՆՆԵՐԸ  և ԴՐՈՒՅԹՆԵՐԸ</h3>
        <p>
            Խնդրում ենք կարդալ հետևյալ պայմանները՝ նախքան օգտվելը առցանց վճարումների համակարգից: Կայքը պատասխանատվություն չի կրում մերժված կամ ձախողված վճարումների համար, որը անմիջական կապ ունի թողարկող բանկի դեբետային կամ կրեդիտային քարտերի հետ: Եթե քարտ թողարկող բանկը մերժում է վճարումը, ապա կայքը պատասխանատվություն չի կրում և չի տեղեկացնում Ձեզ այդ մասին: Դուք Ձեր հաշվի մնացորդը կարող եք ստուգել Ձեր բանկի հետ՝ իմանալու համար պակասել է քարտից գումար, թե ոչ:
        </p>
        <p>
            Կայքում ապրանքները ներկայացված են թվային լուսանկարների տեսքով: Փոքրիկ հակասություները իրական ապրանքի և լուսանկարի միջև  չեն որակավորվում որպես պատվիրված ապրանքի թերություն: Կայքը չի կարող երաշխավորել ապրանքի ճշգրիտ, ամբողջական բովանդակությունը, ուստի գնումներ կատարելուց առաջ ցանկալի է հստակեցնել  բոլոր  հարցերը: Եթե մեր կայքում առաջարկված ապրանքը այնպիսին չէ, ինչպես նկարագրված է, Ձեր միակ տարբերակն է այն համապատասխան ձևով վերադարձնել: Ավելի մանրամասն կարող եք ծանոթանալ <b>ԱՌԱՔՄԱՆ և ՎԵՐԴԱՐՁԻ ՔԱՂԱՔԱԿԱՆՈՒԹՅԱՆ</b> բաժնում:
        </p>
        <p>
            Կեղծ գործողություները խիստ վերահսկվում են մեր կայքում համապատասխան գործընթացներով: Խարդախություններ կամ անօրինական գործընթացներ հայտնաբերելու դեպքում կկիրառվեն բոլոր հասանելի և իրավական տարբերակները Ձեզ պատասխանատվության ենթարկելու և խարդախության հետևանքով առաջացած դատական գործընթացի ծախսերը  հոգալու համար:
        </p>
        <h3 class="mt-4">ԱՆՁՆԱԿԱՆ   ՏՎՅԱԼՆԵՐԻ  ՄՇԱԿՈՒՄ</h3>
        <p>
            Կայքում օգտատիրոջ հաշիվ բացելով դուք թողնում եք անձնական տվյալներ՝ անուն, ազգանուն, էլ. հասցե, փոստային ինդեքս, առաքման հասցե, հեռախոսահամար, վճարման տվյալներ (ներառյալ կրեդիտ քարտի համարները), որի մասին կարող եք ավելի մանրամասն տեղեկանալ <b> ԳԱՂՏՆԻՈՒԹՅԱՆ ՔԱՂԱՔԱԿԱՆՈՒԹՅՈՒՆ </b> բաժնում: Այդ տվյալներն օգտագործվում են օգտատիրոջ կողմից կատարված պատվերները կառավարելու և ապրանքներ առաքելու համար:
        </p>
        <p>
            Գնման պատմության մանրամասները (գնման ամսաթիվը, ապրանքները, քանակը) օգտագործվում են գնված ապրանքների և ծառայությունների, հաճախորդների նախընտրությունները  վերլուծելու համար:
        </p>
        <p>
            Անձնական տվյալները գրանցվում են հաճախորդի հետ կնքված պայմանագիր հիման վրա, երբ նա համաձայնում է՝ սեղմելով ԸՆԴՀԱՆՈՒՐ  ՊԱՅՄԱՆՆԵՐՆԵՐ  ՈՒ  ԴՐՈՒՅԹՆԵՐԻ   կոճակը:
        </p>
        <p>
            Անձնական  տվյալները չեն տրամադրվում ոչ մի կազմակերպության,  բացառությամբ առաքումներ, տրանսպորտային ծառայություներ  և վճարումներ իրականցնող ընկերություների՝  իրենց  ծառայությունները իրականացնելու համար: Այս ամենը անհրաժեշտ է՝ հնարավորինս  որալյալ սպասարկում ապահովելու  և գնորդի հետ առաջացած ցանկացած  խնդիր  լուծելու համար:
            Օգտատերը ունի իրավունք դիմել մեզ՝  անձնական տվյալները  շտկելու, թարմացնելու  կամ  ջնջելու  համար:

        </p>
        <h3 class="mt-4">ԱՅԼ ԴՐՈՒՅԹՆԵՐ</h3>
        <p>
            Մենք իրականացնում ենք բոլոր հնարավոր օրինական տարբերակները կողմերի միջև առաջացած հակասությունները կամ անհամաձայնությունները լուծելու և հարթելու համար:
            Կայքը պատասխանատվություն չի կրում ձեր և երրորդ անձի միջև առաջացած անհարմարություների համար:
            Դուք չունեք իրավունք  մեր կայքում տեղադրված արտադրանքը կամ նյութերը  պատճենել կամ կրկնօրինակել, վերահրապարակել, վերավաճառել  կամ օգտագործել անօրինական նպատակներով:
            Պայմանների կամ դրույթների խախտման դեպքում մենք իրավունք ունենք անհապաղ դադարեցնել  ձեր հաշիվը մեր կայքում:
        </p>
    </div>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

    <%- include ('footer') -%>
