<%- include ('header') -%>
<main>
    <div class="container pt-5 mt-5">
        <h2 class="text-center py-5"><b>TERMS AND CONDITIONS</b></h2>
        <h5 class="subtitle">
            <b>Armat concept</b> team welcomes you
        </h5>
        <p>
            Please find below the general terms and conditions of www.armatconcept.com. Read all of
            them very carefully.
        </p>
        <p>
            In placing order you accept all these terms and conditions, privacy policy, delivery and return
            provisions. Therefore, you take the responsibility of keeping and following them. The website
            holds the right to update or/and change the general terms and conditions. This information will be
            available in the respective section of the site. It is your responsibility to check page changes
            regularly before making any purchases.
        </p>
        <h3 class="mt-4">PAYMENT</h3>
        <p>
            Payments are made only ONLINE. Online payments can be made by credit card <b>(Visa, Master
                Card)</b> and <b>PayPal</b> system. <b>Armat Concept</b> is not responsible for any errors or omissions you
            make. We hold the right to cancel any orders arising from this.
        </p>
        <h3 class="mt-4">DELIVERY</h3>
        <p>The product price indicated on the website does not include delivery costs. Delivery cost is
            calculated based on the quantity, weight, size, shipping place, and other conditions. For more
            details please check the <b>DELIVERY AND RETURN POLICY</b> section.</p>
        <p><b>Armat Concept</b> cooperates with various shipping companies in accordance with the mutually
            signed agreements and contracts.</p>
        <p>
            Usually, items are shipped within 7-21 business days, but delivery time also depends on many
            circumstances. Due to the holidays and non-working days, as well as to the current situation with
            pandemic deliveries may be delayed. <b> Armat Concept </b> has the right to deliver the goods within
            45 working days. In case of non-delivery within 45 working days, please contact us via 
            <b>info@armatconcept.com.</b>  The parcel is considered lost if not found for up to 2 months. If we
            are unable to find the parcel, you will be reimbursed for the full amount of your order or will have
            an opportunity to exchange it for any other available product.
        </p>
        <p>
            <b>Armat Concept</b> offers two shipping options: Standard shipping and Express shipping. Standard
            shipping cost becomes available to the customer at the time of purchase and is calculated based
            on the total weight of the product, quantity, and place of delivery. Shipping rates are based on the
            information given by delivery companies.
        </p>
        <p>
            If you want the item to be delivered faster or for some reason you cannot find your country on
            our list, don’t hesitate to contact us via <b> info@armatconcept.com.</b> We will organize everything
            with great pleasure.
        </p>
        <h3 class="mt-4">ATTENTION</h3>
        <p>
            Please be kindly noted that some international orders are subject to import taxes and customs
            duties levied by your country&#39;s customs department. The buyer is responsible for all import
            charges in accordance with the laws and regulations of that country.
        </p>
        <p>
            <b>Armat Concept</b> can’t provide any information about duties and taxes. Each country has its own
            customs policy. In case of questions, please contact your local customs office for more
            information.
        </p>
        <h3 class="mt-4">PAYMENT TERMS</h3>
        <p>Please read the following terms and conditions before using the online payment system.</p>
        <p>
            The site is not responsible for any rejected or failed payments directly related to the issuing bank
            debit or credit cards. If the card-issuing bank refuses the payment, the website is not obliged to
            inform you. You can check your balance with your bank to find out if any money was charged
            from your account.
        </p>
        <p>
            On the website, products are presented in the form of digital photos. Minor discrepancies
            between the real product and the photo are not qualified as a defect of the ordered item. The site
            can’t guarantee the exact and complete content of the product, so it is advisable to clarify all
            questions before making a purchase. If the product offered on our site is not as described, your
            only option is to return it according to the return policy. For more details please go to the
            <b>DELIVERY AND RETURN POLICY</b> section.
        </p>
        <p>
            Fake actions are strictly controlled on our website by the relevant actions. In case of detection of
            fraud or illegal processes, all available legal options will be used to prosecute you. You will be
            charged for any court costs caused by the fraud.
        </p>
        <h3 class="mt-4">PERSONAL DATA PROCESSING</h3>
        <p>
            In opening a user account on our website, you leave personal data: name, surname, e-mail,
            address, postal code, shipping address, telephone number, payment details (including credit card
            numbers). You can find more details about this in the <b>PRIVACY POLICY</b> section. This data is
            used to manage user orders and goods delivery.
        </p>
        <p>
            The details of the purchase history (date of purchase, goods, quantity) are used to analyze the
            purchased itemsand services, as well as customerspreferences.
        </p>
        <p>
            By clicking the <b>TERMS AND CONDITIONS</b> button client accepts them and all personal data is
            recorded on the basis of this contract.
        </p>
        <p>
            Personal data is not provided to any organizations, except for companies responsible for
            shipping, transportation services and payment. This is done to ensure the best possible service
            and to solve any possible issues buyer may experience.
        </p>
        <p>The user has the right to contact us to correct, update or delete personal data.</p>
        <h5 class="mt-4">OTHER PROVISIONS:</h5>
        <ul>
            <li>We take all the possible legal steps to resolve any disputes or disagreements between the
                parties.</li>
            <li>The site is not responsible for any inconveniences between you and a “third” party.</li>
            <li>You have no right to copy or duplicate, republish, resell or use the products or materials
                posted on our site for illegal purposes.</li>
            <li>In case of any terms or conditions violation, we reserve the right to terminate your account
                on our site immediately.</li>
        </ul>
    </div>

<%- include ('footer') -%>
