@media screen and (min-width: 1200px){
    .container-fluid {
        max-width: 1920px;
    }
    .container-1730 {
        max-width: 1730px;
    }
}
@media screen and (max-width: 1469px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3px;
        padding-left: 3px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1rem;
    }
    .home-card-pagination img {
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width: 1300px) {
    .icon-search-container.active {
        width: 180px;
        background-color: #fff;
    }
    .icon-search-container.active .search-input {
        width: 115px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3px;
        padding-left: 3px;
    }
    .icon-search-container .search-input {
        left: 30px;
    }
    .home-card-pagination img {
        width: 100%;
        height: 250px;
    }
}
@media screen and (max-width: 1199px) {
    .join-section-bg,
    .about-section-bg,
    .brand-section-bg,
    .shop-section-bg,
    .contact-section-bg {
        max-height: 500px;
        height: 100%;
        padding: 22% 0;
    }
    .section1 .abs h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .fs-35 {
        font-size: 22px;
    }
    #generalImage {
     zoom:0.8;
    }

}
@media screen and (min-width: 992px) and (max-width: 1082px){
    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .home-card-pagination img {
        width: 100%;
        height: 200px;
    }
}
@media screen and (max-width: 991px) {
    /*main {*/
    /*    padding-top: 100px;*/
    /*}*/
    .section1 .abs h1 {
        font-size: 4rem;
        line-height: 3rem;
    }
    section h2 {
        font-size: 40px;
    }
    .section1 .abs {
        bottom: 20%;
        left: 10%;
    }
    #section1.section1 {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    h1 {
        color: #e3e3e3;
        font-size: 2rem;
        letter-spacing: 0;
    }
    .brand-section .btn-green-gradient {
        margin-bottom: 70px;
    }
    .brand-section .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .brand-section .info-text {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .footer-logo {
        width: 100px;
        height: 90px;
    }

    .form-info li span {
        font-size: 20px;
    }
    .form-info li a {
        font-size: 16px;
    }
    #carousel-about.owl-carousel .owl-item img {
        display: block;
        width: 80%;
        height: 400px;
        margin: 0 auto;
    }
    #generalImage {
     zoom:0.5;
    }
}
@media screen and (max-width: 767px){
    .footer-bg {
        background-repeat: repeat!important;
    }
    .section1 .abs h1 {
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 1.5rem;
    }
    .home-card-pagination-title {
        font-size: 22px;
        line-height: 30px;
    }

    section h2 {
        font-size: 26px;
    }
    .header-logo {
        width: 100px;
        min-width: 100px;
    }
    .bright {
        border-right: 0;
        border-bottom: 1px solid;
        margin-bottom: 24px;
    }
    .form-info li span {
        font-size: 16px;
    }
    .form-info li a {
        font-size: 14px;
    }
    .logoStyles {
        font-size: 25px;
        line-height: 25px;
        margin-left: -10px;
    }
    .home-card-pagination img {
        width: 100%;
        height: auto;
    }
    .brand-img {
        width: 70%;
        max-width: 500px;
    }
    .rose-border:before {
        content: '';
        width: 200px;
        height: 112%;
    }
    .shop-card .img-area {
        max-height: 180px;
    }
    .shop-card {
        margin: 10px 0;
    }
    .header-bg {
        min-height: 60px;
    }
    .blog-img {
    height: 370px;
	}
	#generalImage {
     zoom:0.4;
    }
    .join-section-bg, .about-section-bg, .brand-section-bg, .shop-section-bg, .contact-section-bg {
        padding: 22% 0 10%;
    }
    .force-overflow {
        min-height: 150px;
    }
    .price-range-slider {
        margin-bottom: 20px;
    }
    .blog-card-img-left {
        height: 400px;
    }
  .shop-card img {
        height: 250px;
    }
      #myimage {
        width: 300px;
        height: 350px;
    }
}
@media screen and (max-width: 470px){
    .logoStyles {
        font-size: 25px;
        line-height: 25px;
        margin-left: -10px;
        margin-right: 10px;
    }
    .navbar {
        padding: 0;
    }
    .navbar-toggler {
        padding: 2px;
    }
}
@media screen and (max-width: 420px){
    .blog-section .blog-card .rose-bg img {
        width: 100%;
    }
}
@media screen and (max-width: 390px){
    .logoStyles {
        font-size: 15px;
        line-height: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .header-logo {
        width: max-content;
        min-width: 50px;
        margin-left: -10px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
 .shop-card img {
    height: 300px;
}
}
